body{background-image: url(file:///home/elvis/Desktop/mypersonalproject/blank-black-corporate-stationery-on-600nw-1051434977.webp);}
#EMT{color: white;}
#Moses{color: white;}
p{color: white;}
ol{color: white;}
h2{color: white;}